.programs{
    margin-top: 100px;
}
.classes{
    background-size: cover;
    color: white;
    padding-top: 20px;
}
.class-btn{
    margin-top:-40px;
    font-size: 20px;
}
.class-btn a{
    font-size: 20px;
    line-height: 40px;
}
